h3 {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid #e2e4ee;
    border-bottom: none;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: bold;
    color: #111;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}

p {
    padding-top: 16px;
    color: #444;
    letter-spacing: -0.2px;
    line-height: 26px;
    white-space: pre-line;
    /* padding-top: 18px; */
    font-size: 16px;
    font-family: 'NotoSans DemiLight', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    word-break: keep-all;
}

h4 {
    font-weight: bold;
    line-height: 28px;
    color: #111;
    letter-spacing: -0.2px;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    padding-top: 40px;
}

h5 {
    display: block;
    margin-top: 18px;
    margin-bottom: 0px;
    font-family: 'NotoSans Medium', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
p pre {
    margin-top: 14px;
}

pre {
    overflow-x: auto;
    margin-top: 14px !important;
    font-family: 'RobotoMono Regular', 'NotoSans Light', monospace, 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    color: white;
    font-size: 15px;
    line-height: 26px;
}

p code {
    padding: 2px 5px 3px;
    font-size: 15px;
    line-height: 20px;
    color: #03166c;
    font-family: 'RobotoMono Regular', consolas, monospace;
    background-color: rgba(45, 80, 255, 0.1);
    vertical-align: top;
    text-indent: initial;
}

tbody td {
    color : #444;
}

.url__code {
    background-color: #01092b;
    padding: 15px;
}

.http__method {
    color: #569cd6;
}

.http__path {
    color: #d69d85;
}

.key {
    color: #9cdcfe;
}

.value {
    color: white;
}

.variable {
    color: #bd63c5;
}

.container__table {
    margin-top: 14px;
    border-top: 1px;
}

.__json-key__ {
    color : #9cdcfe;

}

.__json-value__{
    color : #b8d7a3;
}

.__json-string__ {
    color : #d69d85;
}

.__json-boolean__ {
    color : #569cd6;
}