#Header__mainText {
    color: white;
    font-size: 42px;
    margin-left: 20px;
    font-weight: bold;
}

#Header--Nav__MyPage, #Header--Nav__BusinessList, #Header--Nav__ApiService, #Header__Account__UserName {
    color: white;
    text-decoration: none;
    height: 40px;
    line-height: 25px;
    margin-left: 20px;
}

#Header--Nav__MyPage, #Header--Nav__BusinessList, #Header--Nav__ApiService {
    font-size: 22px;
}

#Header--Nav__MyPage:active, #Header--Nav__BusinessList:active, #Header--Nav__ApiService:active {
    font-weight: bold;
    opacity: 0.3;
}

/* 버튼 active 색상 변경 css */
#Header--Nav__BusinessList{
    display: block;
    width: 145px;
    height: 50px;
    line-height: 50px;
    border: none;
    border-radius: 15px;
}


.Header--Account__UserInfo {
    margin-right: 30px;
    font-size: 22px;
}

#Header--Account__Img {
    margin-left: 5px;
    height: 30px;
}

#Header--Navbar__Detail {
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: darkgray;
}

.dropdown-menu.header-dropdown{
    margin-left: -10px;
    min-width: 100px;
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.dropdown-menu.header-dropdown>li>a{
    border-radius: 3px;
}



/* header fonts */
@font-face {
    font-family: 'Hahmlet-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 991px) {
    .navbar{
        height: 79px;
    }
    .navbar-nav {
        float: right;
    }

    .dropdown{
        position: absolute;
        top: 10px;
        width: 130px;
        right: 60px;
    }
    .nav-item:first-child {
        margin-top: 10px;
    }
    .nav-item{
        color: transparent;
        z-index: 1;
    }
    #Header--Nav__BusinessList {
        color:rgba(20, 20, 20, 0.8);
        background-color: rgba(175, 213, 250, 0.9);
        border: 0.5px solid rgb(155, 183, 250);
        border-radius: 15px;
        width: 120px;
        height: 40px;
        line-height: 40px;
        font-size: 13pt;
        margin-top: 3px;
    }
    #Header--Nav__BusinessList:hover{
        background-color: rgb(155, 183, 250);
    }
    .navbar-toggler:focus{
        box-shadow:  0 0 0 .10rem;
    }

    .element.style {
        background-color: white;
    }
    
  }