.searchDeatil-offcanvas.offcanvas{
    margin-top: 90px;
    height: 800px;
    border-radius: 28px;
    padding: 5px;
    border: 0.5px solid rgba(170,170,170,0.5);
    margin-left: 20px;
    box-shadow: 1px 1px 1px 1px rgba(200,200,200,0.8);
    /* box-shadow: 1px 1px 1px 1px rgba(130,130,130,0.6); */
}

.offcanvas-header{
    border-bottom: 0.5px solid rgba(230,230,230,0.7);
    /* box-shadow: 0px 1px 0px 0px rgba(230,230,230,0.9); */
}
.searchDeatil-offcanvasbody--bodyzone{
    -ms-overflow-style:none;
    scrollbar-width: none;

    text-align: center;
}
.searchDeatil-offcanvasbody--bodyzone::-webkit-scrollbar{
    display: none;
}

.searchDeatil-offcanvasbody--buttonzone>*{
    text-align: center;
}

.searchDeatil-offcanvasbody--buttontab{
    text-align: center;
    width: 100%;
}

.nav{
    display: block;
    width: 100%;
    text-align: center;
}

.nav-item{
    display: block;
    width: 33%;
    text-align: center;
}

.nav-item button{
    text-align: center;
    width: 100%;
}

.searchDeatil-offcanvas{
    
}

.searchDeatil-offcanvas.offcanvas.offcanvas-start.show{
    /* margin-left: 480px; */
    width: 460px;
}

.searchDeatil-offcanvasbody--cardzone{
    width: 100%;
}

.searchDeatil-offcanvasbody--cardzone.card{
    background-color: rgba(240,240,240,0.5);
}

.searchDeatil-offcanvasbody--cardzone>*{
    text-align: left;
}

.offcanvas.searchDeatil-offcanvas{
    transition-duration: 0ms;
}
.priceText.card-subtitle{
    color:#ff5757;
}